# Dependências
node_modules/

# Builds e caches
dist/
build/
.tmp/
.cache/
coverage/

# Ambiente
.env
.env.*
!.env.example

#Credenciais
.env

# SO/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Uploads/arquivos gerados em runtime (ajuste ao seu projeto)
imagens/
uploads/