* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #0cf4f8 0%, #1205cd 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.instituicao-container {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
  text-align: center;
}
.instituicao-container-1{
  display: inline-flex;
  gap: 20px;
}
.instituicao-title {
  color: #333;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 300;
}

.instituicao-form {
  margin-bottom: 20px;
  text-align: left;
}

.instituicao-label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-weight: 500;
  font-size: 18px;
}

.instituicao-input {
  width: 100%;
  padding: 12px 16px;
  border: 2px solid #e1e5e9;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  outline: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto 20px auto; /* centraliza e dá espaçamento abaixo */
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: 500;
}


.instituicao-button {
  width: 50%;
  padding: 14px;
  background: linear-gradient(135deg, #1dc7ff 0%, #190aec 100%);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-top: 10px;
}

.instituicao-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 25px rgba(102, 126, 234, 0.3);
}
